html,
body {
    margin: 0 0;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}

.container { 
    height: 100%; 
    display: flex;
    flex-flow: column nowrap; 
    justify-content: space-between;
    align-items: stretch;
}

.header { 
    display: flex;
    justify-content: center;
    flex: 0 0 40px;
    padding: 15px 0px;

    font-size: 15px;
} 

    .h-holder {
   
        flex: 1 1 0;
        max-width: 65%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


.content { 
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: auto; 
}

    .intro {
        align-self: stretch;
        display: flex;
        justify-content: center;
        font-weight: 18px;   
        padding-bottom: 10px; 
    }

    .i-holder { 
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        min-width: 65%;
        max-width: 65%;
        row-gap: 20px;
        padding: 40px 0 20px 0;

    }
        .i-title { 
            font-size: 48px;
            font-weight:bolder;
            color: #e0e0e0;
        }

        .i-left { 
            display: flex;
            flex-direction: column;
            flex: 1;
            max-width: 49%;
            min-width: 40%;
            
        }
            .but {      
                margin-top: 2%;
            }


        .img-intro, .g-image {
            border-radius: 10px;
            box-shadow: 0 0 10px #ccc;

     
        }

    .info { 
  
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 30px;

    }

        .info-title {
            font-size: 36px;
            font-weight:bolder;

        }

        .cards-holder{
            gap: 80px;
            display: flex;
            flex-flow: wrap;
            justify-content: center;
        }

            .card{ 
                
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                font-size: 18px;
                gap: 6px;
                flex: 1 1 auto;
                max-width: 200px;
                max-height: 400px;
                text-align: center;
            }

            .c-graphic { 
                flex: 0 0 auto;
            }


    .qoute { 
        align-self: stretch;
        background-color: #E5E7EB;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px;
        
    }

        .q-holder {
          
            flex: 1;
            display: flex; 
            flex-flow: column;
            gap: 20px;
            max-width: 50%;
            padding: 20px 60px;
           
        }

            .q-qoute { 
                font-size: 36px;
                font-weight: lighter;
            }

            .q-credit { 
                align-self: flex-end;
                font-size: 20px;
            }

    .action {
    
        align-self: stretch;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .a-holder { 
        background: rgb(101, 139, 252);
        border-radius: 10px;
        margin: 40px;
        padding: 20px 40px;
        display: flex;
        flex-flow: wrap;
        row-gap: 11px;
        width: 70%; 
        justify-content: space-between;
        align-items: center;
        color: white;
    }

        .a-left {
            display: flex;
            flex-flow: column;
            max-width: 50%;
        }

            .a-title { 
                font-weight: bolder;
                font-size: 27px;
            }

            .a-text { 
                font-size: 18px;
            }

.footer{ 
    display: flex;
    flex: 0 0 40px;
    align-items: center;
    justify-content: center;
}

.header, .footer, .intro { 
    background-color: #1F2937;
    color: #F9FAF8;
}

/* Foramtting Links & Lists + Images + button*/

a { 
    color: #e0e0e0;
    text-decoration: none;

}

    a:hover { 
        color:#8acce6;
    }

ul {
  
    margin: 0 ;
    list-style: none;
    display: flex;
    gap: 20px;
}



button { 
    padding: 8px 16px;
    border-radius: 8px;
    border-color: rgb(101, 139, 252);
    background: rgb(101, 139, 252);
    color: white;
    font-size: 18px;
}


